<main class="bg-teal-50">
    <section>
    <div class="flex justify-center pt-5">
      <h1 class="text-3xl font-semibold">
        Periodo Académico
      </h1>
    </div>
  </section>
    <section class="grid grid-cols-4 justify-items-center px-24">
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class="w-fit h-full rounded-lg block " src="../assets/foto1.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto3.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto4.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto6.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class="w-fit h-full rounded-lg block " src="../assets/foto1.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto3.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto4.jpg" alt="">
      </div>
      <div class="transition-all hover:-translate-y-3 w-72 h-60 m-10 bg-blue-300 rounded-lg flex justify-center p-2">
        <img class=" w-fit h-full rounded-lg block " src="../assets/foto6.jpg" alt="">
      </div>
    </section>
  </main>
  